@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
			 url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNovaSemibold";
	src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot");
	src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.woff") format("woff"),
			 url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "fontawesome";
	src: url("../fonts/fontawesome/fontawesome.eot");
	src: url("../fonts/fontawesome/fontawesome.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/fontawesome/fontawesome.woff") format("woff"),
			 url("../fonts/fontawesome/fontawesome.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "proximanovablack";
	src: url("../fonts/proximanovablack/proximanovablack.eot");
	src: url("../fonts/proximanovablack/proximanovablack.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/proximanovablack/proximanovablack.woff") format("woff"),
			 url("../fonts/proximanovablack/proximanovablack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}



