*::-webkit-input-placeholder {
    color: #a7a7a7;
    opacity: 1;
}

*:-moz-placeholder {
    color: #a7a7a7;
    opacity: 1;
}

*::-moz-placeholder {
    color: #a7a7a7;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #a7a7a7;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

html.js .loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

html.js .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: "ProximaNovaRegular", sans-serif;
    overflow-x: hidden;
}
li{
    list-style: none;
}





.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

body {
  font: 11px "open sans", Arial, sans-serif;
  
}

ul.navbar {
  background: rgba(255, 255, 255, 0);
  width: 960px;
  margin: 2em auto;
}

ul.navbar li {
    float: left;
    margin: 0;
    position: relative;
}

ul.navbar li a {
    display: block;
    padding: 20px 15px;
    color: #000 !important;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

ul.navbar li a:hover,
ul.navbar li:hover > a {
    background: #1f3d7d;
    color: #fff !important;
}

ul.navbar li ul {
  margin: 0;
  position: absolute;
  background: #1f3d7d;
  left: 10%;
  font-size: 12px;
  min-width: 220px;
  opacity: 0;
  visibility: hidden;
  z-index: 10000;
  transition: all .1s ease;
}

ul.navbar ul li { float: none; }
ul.navbar li:hover > ul { opacity: 1; visibility: visible; left: 0; max-height: 280px }
ul.navbar > li:hover > ul { opacity: 1; visibility: visible; top: 100%; left: 0; }
ul.navbar li > ul  ul { top: 0; left: 90%; }
ul.navbar li > ul li:hover > ul { left: 100%; }








.al.top{
    background: url(../img/bg9.jpg);
}
.al.line-h {
    background: #0ba5db;
}
.al.left-text{
    color: #383431;
    text-shadow: none;
}
.al.text-box {
    margin-left: 0;
    margin-top: 250px;
}
.al.screen1 {
    background: url(../img/bg10.jpg) center no-repeat;
    background-size: cover;
    border-bottom: 14px solid #cdcdcd;
    height: 849px;
}
.al.left-text2{
    text-shadow: none;
}
.al.btn-go{
    background: #0ba5db;
    color: red;
}
form.al-form-one{
    background: url(../img/bg-form2.png) center;
}
.al.text-pol{
    text-align: center;
}
.al.screen1 .container{
    padding: 0;
}
.sit-al .container{
    padding: 0;
}
.sit-al section.al.rewq .container {
    padding-right: 15px;
    padding-left: 15px;
}
.al.text-sc3{
    width: 584px;
}
.al.text-electro-sc2-right {
    background: url(../img/points2.png);
    background-repeat: no-repeat;
    width: 45%;
    padding-left: 38px;
}
.al.text-electro-sc2-left{
    width: 55%;
}
.al.sc2-el-box:nth-child(2) {
    margin-top: 35px;
}
.al.sc2-el-box:nth-child(3) {
    margin-top: 31px;
}
.al.sc2-el-box:nth-child(4) {
    margin-top: 30px;
}
.al.sc2-el-box:nth-child(5) {
    margin-top: 36px;
}
.al.line-y{
    background: #0ba5db;
}
h3.al .al-blue{
    background: #0ba5db;
    color: red;
}
.text2-el .al-blue{
    background: #0ba5db;
}
.al.head{
    margin-bottom: 10px;
}
.al.head p {
    margin-bottom: 0px;
    padding-left: 0;
}
.al.head p:nth-child(1) {
    background: url(../img/al-line.png) no-repeat right;
    margin-right: -2px;
}
.al.head p:nth-child(3) {
    text-align: right;
    margin-right: 85px;
}
.al.head p:nth-child(4) {
    text-align: right;
    margin-right: 83px;
}
.al_pad {
    padding-left: 0!important;
    margin-bottom: 308px!important;
}
.al.screen2{
    padding-top: 52px;
    padding-bottom: 67px;
}
.al.sc3-el{
    background-image: url(../img/bg11.jpg);
    height: 1472px;
}
h3.al.head .al-col{
    color: red;
    background: none;
}
.al.text2-el {
    margin-right: 72px;
}
.al-block {
    width: 1109px;
    height: 168px;
    background: url(../img/al-block-lin.png);
    margin: auto;
    margin-top: 39px;
}
.al-block p {
    color: red;
    font-size: 20px;
    font-family: ProximaNovaRegular, sans-serif;
    line-height: 23px;
    padding: 39px 0px 0px 34px;
    text-align: justify;
    width: 956px;
}
.al-h4-text {
    font-size: 20px;
    color: #0ba5db;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.al-tex_blo {
    font-size: 20px;
    color: #383431;
    line-height: 23px;
}
.al-block-clip {
    font-family: ProximaNovaRegular, sans-serif;
    display: flex;
    justify-content: space-around;
}
.al-tex-hea{
    text-align: right;
    float: left;
    margin-top: 82px;
}
.al-lef{
    text-align: left;
    float: right;
}
.al-left-block-clip{
    float: left;
    display: flex;
    flex-direction: column;
    width: 28.7%;
}
.al-right-block-clip {
    float: right;
    display: flex;
    flex-direction: column;
    width: 28.3%;
}
.al-center {
    text-align: center;
    float: none;
    clear: both;
    padding-top: 31px;
}
.al-cl-twist {
    width: 516px;
    height: 528px;
    background: url(../img/al-cl.png);
    position: relative;
    float: left;
    margin-top: 21px;
}
.al.screen4 {
    border-bottom: 14px solid #0ba5db;
    background: url(../img/fone1.jpg) no-repeat center 111px;
    height: 957px;
    font-family: ProximaNovaRegular, sans-serif;
    font-size: 15px;
    padding-top: 19px;
}
.al-cent-bl{
    text-align: center;
}
.al-vid {
    float: left;
    text-align: center;
    color: #383431;
    background: #0ba5db;
    padding: 17px 8px;
    font-size: 20px;
    line-height: 25px;
}
.al-vid span{
    font-size: 25px;
    font-family: ProximaNovaSemibold, sans-serif;
}
.al-bl-numer {
    float: left;
    text-align: right;
    line-height: 20px;
    margin-left: 152px;
    margin-top: 21px;
}
.al-bl-priv, .al-bl-of{
    color: #383431;
    border: solid 1px #000000;
    padding: 0px 5px;
    float: right;
    box-shadow: 0px 9px 15px -12px #000000;
}
.al-bl-priv {
    margin-top: 46px;
}
.al-vid-cam {
    float: left;
    clear: both;
    text-align: center;
    margin-top: 66px;
    margin-left: 547px;
}
.al-wi-fi, .al-bl-mon{
    text-align: center;
    clear: both;
}
.al-wi-fi {
    float: right;
    margin-top: 257px;
    margin-right: 53px;
}
.al-bl-of {
    float: left;
    clear: both;
    margin-top: 30px;
    margin-left: 36px;
}
.al-bl-mon {
    float: right;
    margin-top: -6px;
    margin-right: 153px;
}
.al-bl-rev {
    float: left;
    text-align: left;
    margin-left: 104px;
    margin-top: 5px;
}
.al-bl-prov {
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 93px;
}
.al-butt-rev{
    clear: both;
}
.al.screen5 {
    background: url(../img/fone2.jpg);
    height: 666px;
    padding-top: 127px;
    border-bottom: 14px solid #cdcdcd;
}
.al-tex-ver {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #ffffff;
    font-size: 38px;
    font-family: proximanovablack, sans-serif;
    position: relative;
    float: right;
    right: 19px;
    top: -161px;
}
.al-num-two {
    color: #ffffff;
    font-size: 223px;
    line-height: 49px;
    font-family: proximanovablack, sans-serif;
    float: left;
    margin-top: 137px;
    margin-left: 84px;
    text-align: center;

}
.al-bl-ye {
    font-size: 59px;
}
.al-pic-two {
    height: 394px;
    width: 394px;
    border-radius: 50%;
    background: url(../img/bl-clip.png) center no-repeat;
    border: 25px solid #b2bfc3;
    float: left;
}
.al-h {
    height: 57px;
    margin-top: 5px;
}
.al-box {
    margin-top: 83px!important;
    float: right;
}
.al-tex-bl{
    font-size: 30px!important;
}
.al.bottom-nav{
    background: #0ba5db;
}
a.al.go-to-bot{
    color: #000;
}
.al.img-slid-rew{
    background:  url(../img/rew-bg2.png);
}
.al.rew-title{
    border-bottom: 2px solid #0ba5db;
}
.al.zakaz-req{
    background: #0ba5db;
    color: #ffffff;
}
.al.img-box-rew-all{
    border: 15px solid #0ba5db;
}
.al.right-part-rew{
    border: 30px solid #0ba5db;
}
.al.head-re-all{
    border-bottom: 2px solid #0ba5db;
}
.al.kons-btn{
    background: #0ba5db;
    color: #ffffff;
}
.al-h6, .al-h5{
    color: #ffffff;
    text-align: center;
    font-family: ProximaNovaRegular, sans-serif;
}
.al-h5{
    font-size: 30px;
}
.al-h6{
    font-size: 20px;
}
.al.screen8{
    padding-top: 85px;
    border-top: 20px solid #ffed00;
}
.al.item-box-sc8{
    justify-content: space-around;
}
.al.zakaz-sc10{
    background: #0ba5db;
    color: #ffffff;
}
.al.screen10 {
    background: url(../img/fone3.jpg);
    border-bottom: 20px solid #cdcdcd;
    padding-top: 64px;
}
.al.screen9 .slick-prev.slick-arrow{
    background: url(../img/al-left-arr.png);
}
.al.screen9 .slick-next.slick-arrow{
   background: url(../img/al-right-arr.png); 
}
.al.zakaz-btn{
    background: #0ba5db;
    color: #ffffff;
}
.al.head span{
    background: #0ba5db;
    color: #ffffff;
}
.al.screen6.two {
    background: url(../img/fone4.png) center;
    height: 731px;
    margin-top: -23px;
    border: 0;
}
.al.map {
    margin-top: -1px;
    border-top: 30px solid #383431;
}
.al.cirkl{
    background: url(../img/circl_blue.png);
}
.al.right-form {
    border-color: #0ba5db;
    margin-top: 88px;
}
.al.right-form.pop{
    margin-top: 0;
}
.al.rewq{
    border-bottom: 12px solid #9a9a9a;
}
.al.screen9 {
    border: 0;
    height: 1114px;
    background: url(../img/fone_two.jpg);
}
.al.text-box-ye{
    color: #000000;  
}
.al.text p:nth-child(2){
    text-align: right;

}
.al.text2 p:nth-child(1){
    text-align: right;
}
.al.text2 p:nth-child(2){
    text-align: center;
}
.al.text2 p:nth-child(3){
    text-align: right;
}
.al.text p {
    margin-bottom: -1px;
}
.al.text{
    margin-bottom: 30px;
}
.al.text2 p{
    margin-bottom: -1px;
}
.al.text span{
    background: #0ba5db;
    color: #ffffff;
}
.al.text2 span{
    background: #0ba5db;
    color: #ffffff;
}
span.al-str{
    color: #0ba5db!important;
    background: none!important;
}
.al.screen6 {
    background: url(../img/fone_right.png) center;
    height: 965px;
    margin-top: -157px;
    border-bottom: 20px solid #6eaadc;
}
.al-text-lef {
    height: 222px!important;
}
.al.left-text span {
    background: #0ba5db;
    color: #ffffff;
    padding: 0px 4px;
}
.al-rig-for{
    border: 25px solid rgba(230, 230, 230, 0.5)!important;
}
.al.right-part-rew.two{
    background: #0ba5db;
}
.al.in-bg{
    background: #0ba5db;
}
.al-top{
    margin-top: 31px!important;
}
.al-left-hea {
    margin-right: 27px;
}
.al-right-hea{
    margin-left: 27px;
}
.al.text-prof-teem{
    margin-top: 2px;
    margin-bottom: 50px;
}
.al.circkl-box-sc3 {
    margin-top: 40px;
    margin-bottom: 56px;
}
.site_four nav.menu-top ul li a {
    color: #ffffff;
}
.site_four .al.top {
       background: rgba(229,89,53,0.95);
}
.site_four .al.sc2-el-box:nth-child(3) {
    margin-top: 23px;
}
.site_four .sc2-el-box:nth-child(7) {
    margin-top: 22px;
}
.site_four .al.text2-el {
    margin-right: 72px;
    margin-bottom: 47px;
}
.site_four .al.line-h {
    background: #e55935;
}
.site_four .al.screen6 .al.btn-go {
    background: #e55935;
    margin-top: 54px;
}
.site_four .al.btn-go {
    background: #e55935;
}
.site_four .al.screen1 {
    background: url(../img/bacg.jpg) center no-repeat;
    background-size: cover;
    border-bottom: 14px solid #cdcdcd;
    height: 849px;
}
.sit-al.site_four .al.right-form {
    border-color: #e8866d;
}
.site_four .al.left-text2 {
    text-shadow: none;
    width: 675px;
}
.site_four .text-pol {
    text-align: center;
}
.site_four .al-rig-for {
    border: 25px solid rgba(230, 230, 230, 0.8)!important;
}
.site_four .al.line-y {
    background: #e55935;
}
.site_four .al.head span{
    background: #e55935;
}
.site_four .al.text2-el span{
    background: #e55935;
}
.site_four .al-num-two {
    font-size: 169px;
    margin-top: 126px;
    margin-left: 47px;
}
.site_four .al-tex-ver {
    font-size: 31px;
    right: 8px;
    top: -137px;
}
.site_four .al-pic-two {
    background: url(../img/bg-fig.png) center no-repeat;
}
.site_four .al.screen5 {
    background: url(../img/fon1.jpg) center;
}
.site_four .al.left-text2 span{
    color: #e55935;
    font-family: ProximaNovaSemibold, sans-serif;
}
.site_four .al-text-lef {
    height: 107px!important;

}
.site_four .al.screen8 {
    padding-top: 85px;
    border-top: 20px solid #41a62a;
}
.site_four .text-box-ye {
    font-size: 30px;
}
.site_four .al.screen9 .slick-prev.slick-arrow {
    background: url(../img/arr-lef.png);
}
.site_four .al.screen9 .slick-next.slick-arrow {
    background: url(../img/arr-right.png);
}
.site_four .al.cirkl {
    background: url(../img/fon-bg.png);
}
.site_four .al.screen9 {
    background: url(../img/fon2.jpg);
    border-bottom: 17px solid #41a62a;
}
.site_four .al.zakaz-sc10 {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.screen10 {
    background: url(../img/fon3.jpg);
}
.site_four .al.kons-btn {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.img-slid-rew {
    background: url(../img/clip-bg.png);
}
.site_four .al.rew-title {
    border-bottom: 2px solid #e55935;
}
.site_four .al.zakaz-req {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.right-part-rew {
    border: 30px solid #e55935;
}
.site_four .al.img-box-rew-all {
    border: 15px solid #e55935;
}
.site_four .al.right-part-rew.two {
    background: #e55935;
}
.site_four .al.in-bg {
    background: #e55935;
}
.site_four .al.zakaz-btn {
    background: #e55935;
    color: #ffffff;
}
.site_four .al-hed-four{
    color: #383431; 
    font-family: ProximaNovaRegular, sans-serif;
    font-size: 25px;
}
.site_four .al.bottom-nav {
    background: #e55935;
}
.site_four .al.text span {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.text2 span {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.text .orang {
    color: #e55935;
    background: none;
}
.site_four .al.text-electro-sc2-right {
   
    background-repeat: no-repeat;
    width: 65%;
    padding-left: 38px;
}
.site_four .al.text-electro-sc2-left {
    width: 35%;
}
.site_four .al.screen2 .al.head {
    margin-bottom: 10px;
    background: url(../img/lin-one.png) right 15px no-repeat;
}
.site_four .al.sc2-el-box:nth-child(4) {
    margin-top: 24px;
}
.site_four .al.sc2-el-box:nth-child(5) {
    margin-top: 25px;
}
.site_four .sc2-el-box:nth-child(6) {
    margin-top: 26px;
}
.site_four .sc2-el-box:nth-child(7) {
    margin-top: 27px;
}
.site_four .al.screen4 {
    border-bottom: 14px solid #e55935;
    background: url(../img/bg-ohr.jpg) no-repeat center 205px;
    height: 1074px;
    padding-top: 30px;
}
.site_four .al-vid {
    background: #e55935;
    margin-left: 82px;
    margin-top: 47px;
    color: #ffffff;
}
.site_four .al-tex-ohr {
    float: left;
    text-align: center;
    margin-left: 44px;
    margin-top: 43px;
    line-height: 20px;
}
.site_four .tex-ohr {
    float: right;
    margin-right: 126px;
    margin-top: 50px;
}
.site_four .al-bl-prov {
    margin-left: 84px;
    margin-top: 78px;
}
.site_four .al-block-door {
    clear: both;
    float: left;
    text-align: left;
    margin-top: 389px;
    margin-left: 168px;
}
.site_four .al-bl-butts {
    clear: both;
    display: flex;
    margin-left: 167px;
    padding-top: 81px;
}
.site_four .al-bl-tx-butt {
    float: left;
    margin-right: 157px;
}
.site_four .al-anxiety {
    margin-right: 123px!important;
    line-height: 20px;
}
.site_four .al.screen6 {
    background: url(../img/fone-11.png) center;
    height: 916px;
    margin-top: -114px;
    border-bottom: 20px solid #6c6966;
}
.site_four .al.text-box {
    margin-left: 0;
    margin-top: 255px;
}
.site_four .al.screen6 .al.text-box {
    margin-left: 0;
    margin-top: 340px;
}
.site_four .al.screen6.two {
    background: url(../img/bg-fon.png) center;
    height: 776px;
    margin-top: -51px;
    border: 0;
    padding-top: 166px;
    border-bottom: 20px solid #9a9a9a;
}
.site_four .al.screen6 .right-form form {
    background: url(../img/bg-form.png);
    padding: 50px 20px 20px 20px;
}
.site_four .al.map {
    margin-top: -1px;
    border-top: 22px solid #383431;
}
.al.item-box-sc8 {
    justify-content: space-around;
    padding: 0 144px;
}
.site_four .al.item-box-sc8 {
    justify-content: space-around;
    padding: 0 144px;
}
.site_five.al.item-box-sc8 {
    justify-content: space-around;
    padding: 0 144px;
}
.site_four .al.text-sc3 {
    width: 584px;
    margin-top: 13px;
}
.site_four .al-fon-arrow{
    font-family: ProximaNovaRegular, sans-serif;
    font-size: 20px;
}
.site_four h5.al-fon-head {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.site_four .al-fon-head{
    font-family: ProximaNovaSemibold, sans-serif;
}
.site_four .al-fon-text p{
    line-height: 20px;
}
.site_four .al-fon-arrow {
    background: url(../img/arr1.png) no-repeat 170px;
    height: 213px;
}
.site_four .al-fon-text {
    float: left;
    margin-top: 63px;
}
.site_four .al-fon-arrow:nth-child(2) {
    background: url(../img/arr2.png) no-repeat right;
    height: 213px;
    margin-top: -32px;
}
.site_four .al-fon-arrow:nth-child(3) {
    background: url(../img/arr3.png) no-repeat center;
    height: 213px;
    margin-top: -36px;
}
.site_four .al-fon-arrow:nth-child(4) {
    background: url(../img/arr4.png) no-repeat 185px;
    height: 213px;
    margin-top: -33px;
}
.site_four .al-fon-arrow:nth-child(5) {
    background: url(../img/arr5.png) no-repeat right;
    height: 213px;
    margin-top: -36px;
}
.site_four .al-fon-arrow:nth-child(6) {
    background: url(../img/arr6.png) no-repeat 139px;
    height: 213px;
    margin-top: -34px;
}
.site_four .al.sc3-el {
    height: 1501px;
    padding-bottom: 36px;
}
.site_four .al.left-text2 br {
    display: block;
}
.site_five .al.top {
  background: rgba(151,181,21,0.95);
}
.site_five .al.screen1 {
    background: url(../img/fone-one.jpg) center no-repeat;
    background-size: cover;
    border-bottom: 14px solid #cdcdcd;
    height: 849px;
}
.site_five .al.btn-go {
    background: #97b515;
   
}
.sit-al.site_five .al.right-form{
    border-color:#97b515; 
}
.site_five .al.screen6 .al.btn-go {
    background: #97b515;
    margin-top: 61px;
    box-shadow: 0px 3px 0px #fff;
}
.site_five .al.circkl-box-sc3 {
    margin-top: 55px;
    margin-bottom: 99px;
}
.site_five .al.text2 p:nth-child(2) {
    text-align: left;
}
.site_five .al.text2 p:nth-child(1) {
    text-align: right;
    margin-bottom: 5px;
}
.site_five .al.screen6 .al.btn-go:hover {
    background: #97b515;
  
    box-shadow: 0px 2px 0px #fff inset;
}
.site_five .al.screen6 .right-form form {
    background: url(../img/bg-form.png);
    padding: 50px 20px 20px 20px;
}
.site_five .al.screen1 .al.line-h {
    background: #97b515;
    height: 106px!important;
}
.site_five .al.screen9 {
    border-bottom: 17px solid #97b515;
    height: 1094px;
    background: url(../img/bg-fon5.jpg) center;
}
.site_five .al.left-text2 br {
    display: block;
}
.site_five .al.line-y {
    background: #97b515;
    height: 90%;
    top: 5%;
}
.site_five .al.head {
    clear: both;
}
.site_five .al.head span{
    background: #97b515;
    color: #000000;
}
.site_five .al-pic-two {
    background: url(../img/clip-fon.png) center no-repeat;
}
.site_five .al.left-text2 {
    width: auto;
}
.site_five .al.right-form {
    border-color: #a5bd4c;
}
.site_five .al.screen6 .al.right-form {
    border-color: #a5bd4c;
    margin-top: 88px;
}
.site_five .al.left-text span {
    background: #97b515;
    padding: 0px 0px;
}
.site_five .al.text span {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.text2 span {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.screen9 .slick-prev.slick-arrow {
    background: url(../img/arrow_left.png);
}
.site_five .al.screen9 .slick-next.slick-arrow {
    background: url(../img/arrow_right.png);
}
.site_five .al.cirkl {
    background: url(../img/circl_lime.png);
}
.site_five .al.zakaz-sc10 {
    background: #97b515;
    margin-top: 42px;
    color: #fff;
}
.site_five .al-bott-coment {
    font-size: 20px;
    font-family: ProximaNovaRegular, sans-serif;
    margin-top: 49px;
    line-height: 20px;
}
.site_five .al-h6 {
    font-size: 20px;
    margin-bottom: 76px;
}
.site_five h6.al-h6 span{
    font-size: 30px;
}
.site_five .al.screen8 {
    padding-top: 59px;
    border-top: 20px solid #f29400;
    padding-bottom: 48px;
}
.site_five .text-bott-sc8 {
    margin-top: 35px;
}
.site_five .al.kons-btn {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.img-slid-rew{
    background:  url(../img/fon-salat.png);
}
.site_five .al.rew-title {
    border-bottom: 2px solid #97b515;
}
.site_five .al.zakaz-req {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.right-part-rew.two {
    background: #97b515;
}
.site_five .al.right-part-rew {
    border: 30px solid #97b515;
}
.site_five .al.img-box-rew-all {
    border: 15px solid #97b515;
}
.site_five .al.in-bg {
    background: #97b515;
}
.site_five .al.zakaz-btn {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.bottom-nav {
    background: #97b515;
}
.site_five .al.text-electro-sc2-right {
    background: url(../img/site-five.png);
    background-repeat: no-repeat;
    width: 54%;
    margin-top: 0;
}
.site_five .al.text-electro-sc2-left {
    width: 46%;
}
.site_five .al.sc2-el-box:nth-child(2) {
    margin-top: 30px;
}
.site_five .al.sc2-el-box:nth-child(3) {
    margin-top: 22px;
}
.site_five .al.sc2-el-box:nth-child(4) {
    margin-top: 24px;
}
.site_five .al.sc2-el-box:nth-child(5) {
    margin-top: 24px;
}
.site_five .sc2-el-box:nth-child(6) {
    margin-top: 22px;
}
.site_five .sc2-el-box:nth-child(7) {
    margin-top: 24px;
}
.site_five .al.screen2 {
    padding-top: 79px;
    padding-bottom: 70px;
}
.site_five .al.text-sc3 {
    margin-bottom: 167px;
}
.site_five .al.screen2 h3.al.head {
    background: url(../img/line-file.png) no-repeat center right;
}
.site_five .al.text3-el {
    font-size: 29px;
    line-height: 1.3;
    margin-top: 50px;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    text-align: center;
}
.site_five .al.text2-el span {
    background: #97b515;
    color: #000000;
}
.site_five .al.text3-el span {
    background: #97b515;
    color: #000000;
}
.site_five .al.sc3-el {
    background: url(../img/bg-fon3.jpg) center;
    height: 1440px;
}
.site_five .al.text2-el {
    margin-top: 21px;
}
.site_five .al.text3-el {
    margin-top: 21px;
}
.site_five  .al-h4-text {
    color: #97b515;
}
.site_five .al-top {
    margin-top: 139px!important;
}
.site_five .al-left-block-clip {
    float: left;
    display: block;
    width: 41.7%;
    clear: both;
}
.site_five .al-left-hea {
    margin-right: 27px;
    margin-top: 140px;
}
.site_five .al-lef-bl {
    text-align: left;
    margin-left: 154px;
    margin-top: 98px;
}
.site_five .al-right-block-clip {
    float: right;
    display: block;
    width: 57.3%;
}
.site_five .al-lef {
    margin-top: 82px;
}
.site_five .al-center {
    text-align: left;
    float: right;
    clear: both;
    margin-top: 20px;
    margin-right: 215px;
    padding: 0;
}
.site_five .al.screen4 {
    border-bottom: none;
    background: url(../img/fone-shem.jpg) no-repeat center 160px;
    height: 1093px;
    padding-top: 32px;
}
.site_five .al-vid {
    background: #97b515;
    padding: 15px 6px;
    margin-top: 36px;
}
.site_five .al.screen6 .al.text-box {
    margin-top: 385px;
}
.site_five .al.screen6 .al.line-h {
    background: #97b515;
    height: 69px!important;
}
.site_five .al.line-h {
    background: #97b515;
}
.site_five .al-text-serv{
    float: right;
}
.site_fiv .al-tex-ohr {
    float: left;
    margin-top: 173px;
    margin-left: 140px;
}
.site_five .al-text-serv {
    float: right;
    margin-right: 219px;
    margin-top: 159px;
}
.site_five .al-text-site {
    text-align: left;
    float: left;
    clear: both;
    margin-left: 84px;
    margin-top: 40px;
    line-height: 20px;
}
.site_five .al-tex-ohr {
    float: left;
    margin-top: 174px;
    margin-left: 139px;
}
.site_five .al-text-cont {
    float: right;
    margin-top: 178px;
}
.site_five .al-tex-lef {
    float: left;
    clear: both;
    margin-top: 348px;
}
.site_five .al-text-word {
    margin-bottom: 40px;
    margin-left: 75px;
    line-height: 19px;
}
.site_five .al-tex-right{
    float: right;
}
.site_five .al-text-device {
    text-align: center;
    float: left;
    margin-top: 432px;
    line-height: 20px;
}
.site_five .al-text-vide {
    float: right;
    margin-top: 490px;
    margin-right: 42px;
    margin-left: 99px;
}
.site_five .al.screen5 {
    background: url(../img/fon-bg.jpg);
    height: 660px;
    padding-top: 127px;
    border-bottom: 14px solid #97b515;
}
.site_five .al.screen6 {
    background: url(../img/fon-bg2.png) center;
    height: 934px;
    margin-top: -133px;
    border-bottom: 20px solid #6c6966;
}
.site_five .al.text-box {
    margin-top: 253px;
}
.site_five .al.screen6.two {
    background: url(../img/fon-bg3.png) center;
    height: 1254px;
    margin-top: -136px;
    border-bottom: none;
    padding-top: 208px;
}
.site_five .al.map {
    margin-top: -446px;
    border-top: 20px solid #9a9a9a;
}
.site_five .al.screen10 {
    background: url(../img/fon-bg4.jpg);
    border-bottom: 20px solid #cdcdcd;
    padding-top: 53px;
    padding-bottom: 39px;
}
.site_five .al.text-prof-teem {
    margin-top: 2px;
    margin-bottom: 42px;
}
.sit-al a.fancybox-item.fancybox-close {
    background: url(../img/blue-holder.png) no-repeat;
    width: 55px;
    height: 55px;
    top: -10px;
    right: -10px;
}
.site_five a.fancybox-item.fancybox-close {
    background: url(../img/green-cr.png) no-repeat;
    width: 55px;
    height: 55px;
    top: -10px;
    right: -10px;
}
.site_four a.fancybox-item.fancybox-close {
    background: url(../img/red-symbol.png) no-repeat;
    width: 55px;
    height: 55px;
    top: -10px;
    right: -10px;
}

header.top {
    
    background: rgba(230, 230, 230, 0.95);
    position: absolute;
    width: 100%;
}

nav.menu-top-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.menu-top-block ul li {
    margin-left: 20px;
    float: left;
}

.gambur {
    display: none;
}

nav.menu-top-block ul li a {
    color: black;
    font-size: 15px;
}

nav.menu-top-block ul li a:hover {
    font-family: "ProximaNovaSemibold";
    font-size: 14.72px;
}

header.top .container {
    padding: 0;
    display: flex;
    align-items: center;
}

.container {
    width: 1200px;
}

img.fon {
    margin-right: 10px;
    margin-top: -4px;
}

.tel {
    font-family: "ProximaNovaSemibold";
    font-size: 20.38px;
    margin-bottom: 15px;
}

nav.menu-top-block ul li:first-child {
    margin-left: 0;
}

.call-back {
    font-size: 15px;
    font-family: "ProximaNovaSemibold";
    text-align: center;
    width: 210px;
    background: #ffffff;
    line-height: 30px;
    cursor: pointer;
}

nav.menu-top-block {
    margin-left: 35px;
}

.right-top {
    /*margin-left: 60px;*/
}

section.screen1 {
    background: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 985px;
    border-bottom: 14px solid #f7bf2a;
    background-position: center center;
    padding-top: 135px;
}

.text-box {
    float: left;
    margin-top: 200px;
    margin-left: 90px;
}

.line-h {
    height: 110px;
    float: left;
    width: 4px;
    box-shadow: 1px 1px 2px white;
    background: #383431;
}

h2.left-text {
    margin: 0;
    font-size: 35px;
    text-shadow: 1px 1px 2px white;
    margin-left: 15px;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
}

h2.left-text span {
      background: white;
    padding-left: 2px;
   
    width: 377px;
    margin-left: -2px;
}

.left-text2 {
    margin: 0;
    margin-top: 40px;
    font-size: 25px;
    line-height: 1.2;
    text-shadow: 1px 1px 2px white;
}

.right-form {
    float: right;
    width: 455px;
    margin-top: 170px;
    border-radius: 10px;
    border: 10px solid rgba(110, 170, 220, 0.4);
}

.right-form form {
    background-color: rgba(255, 255, 255, 0.32);
    padding: 20px;
}

.head-form {
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    color: black;
    line-height: 1.2;
    text-align: center;
    font-size: 20px;
}

input.form-inp {
    outline: none;
    font-size: 20px;
    width: 100%;
    height: 50px;
    padding-left: 40px;
    border: 0;
    margin-top: 20px;
    box-shadow: 0px 0px 4px black, 0px 0px 4px black;
}

input.btn-go {
    width: 100%;
    margin-top: 22px;
    line-height: 70px;
    outline: none;
    box-shadow: 0px 3px 0px #383431;
    background: #f7bf2a;
    font-size: 20px;
    border: 0;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    border-radius: 33px;
}

.text-pol {
    color: white;
    font-size: 11px;
    margin-top: 21px;
}

.icon-form {
    position: absolute;
    margin-top: 33px;
    margin-left: 10px;
}

.icon-form i {
    font-size: 21px;
    color: #a7a7a7;
    line-height: 22px;
}

.icon-form.phone {
    margin-top: 35px;
    margin-left: 13px;
}

section.screen2 {
    background-color: #6eaadc;
    padding-top: 90px;
    padding-bottom: 100px;
}

.text-box-ye {
    color: white;
    font-size: 29px;
    line-height: 1.3;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
}

.text2 {
    text-align: right;
}

.text-box-ye span.color {
    color: #f7bf2a;
    background: none;
}

.text-box-ye span {
    background: #f7bf2a;
    color: #383431;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 1;
}

.big-banner {
    width: 100%;
}

h3.head {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.3;
    font-family: "ProximaNovaSemibold";
    margin-bottom: 0;
    position: relative;
    padding-left: 10px;
}

.line-y {
    position: absolute;
    top: 10%;
    height: 80%;
    width: 4px;
    background: #f7bf2a;
    margin-left: -10px;
}

.sc3-box {
    margin-top: 40px;
}

.text-sc3 {
    line-height: 1.2;
    font-size: 20px;
    width: 650px;
    text-align: justify;
    float: left;
}

.img-sc3 {
    float: right;
}

.circkl-box-sc3 {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.electro .circkl-box-sc3 {
      margin-bottom: 100px;
    margin-top: 50px;
}
.electro .autoplay{
    margin-top: 60px;
}
.electro h3.teem {
  
    width: 100%;
}
section.screen3 {
    background: url(../img/bg4.jpg);
    padding-top: 45px;
    padding-bottom: 80px;
}
.cirkl {
    font-family: "proximanovablack";
    width: 172px;
    font-size: 40px;
    height: 174px;
    text-align: center;
    color: white;
    line-height: 171px;
    background: url(../img/circl.png);
    background-position: center center;
    background-size: 100%;
}

.text-item-sc3 {
    text-align: center;
    margin: auto;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 20px;
}

.cirkl img {
    margin-top: -12px;
}

h3.teem {
    text-align: center;
    margin: 0;
    font-family: "ProximaNovaSemibold";
    font-size: 30px;
    text-transform: uppercase;
}

section.screen4 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.item-teem {
    width: 275px;
    float: left;
    margin-top: 40px;
}

.photo {
    position: relative;
    z-index: 2;
    height: 230px;
    line-height: 230px;
    text-align: center;
    background: url(../img/photo-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.photo img {
    border-radius: 101px;
}

.box-teem-text {
    background: #dadada;
    padding: 15px;
    height: 210px;
    padding-top: 75px;
    position: relative;
    z-index: 1;
    margin-top: -75px;
}

.name-teem {
    font-size: 20px;
    font-family: "ProximaNovaSemibold";
}

.tex-teem {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 25px;
}

.teem-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head-prof-teem {
    width: 650px;
    text-align: center;
    margin: auto;
    background: #818181;
    height: 56px;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    line-height: 56px;
    font-family: "ProximaNovaSemibold";
    margin-top: -28px;
    cursor: pointer;
}

img.arroe-top {
    margin: 17px;
    margin-bottom: 22px;
}

.prof-teem {
    margin-top: 95px;
    border-top: 4px solid #818181;
    padding-bottom: 55px;
}

.text-prof-teem {
    line-height: 1.2;
    font-size: 20px;
    margin-top: 20px;
}

.prof-teem-item {
  width: 36%;
    margin-right: 2%;
    margin-left: 11%;
    float: left;
    margin-bottom: 45px;
}

.img-prof {
    float: left;
    margin-right: 30px;
}

.prof-name {
    margin-top: 15px;
    font-size: 20px;
    font-family: "ProximaNovaSemibold";
}

.text-prof-box {
    float: left;
}

.prof-do {
    font-style: italic;
    font-size: 15px;
}

.prof-teem-box {
    display: table;
        margin-top: 35px;
}

.box-btn-more {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    background: #818181;
    border-radius: 3px;
    margin: auto;
    cursor: pointer;
}

.box-btn-more span {
    width: 3px;
    margin: 0 3px;
    height: 3px;
    display: block;
    border-radius: 100px;
    background: #f7bf2a;
}

section.screen5 {
    background: url(../img/bg6.jpg);
    height: 900px;
    padding-top: 60px;
    background-position: center;
    border-bottom: 14px solid #f7bf2a;
}

.head-sc5 {
    text-align: right;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    font-size: 20px;
    color: #f7bf2a;
}

.text-it-sc5 {
    text-align: right;
    font-family: "ProximaNovaSemibold";
    font-size: 20px;
    color: #ffffff;
    line-height: 1.2;
}

.text-sc5 {
    margin-top: 65px;
    width: 100%;
    float: left;
}

.text-box-it {
    float: left;
    width: 410px;
}

.text-box-it.right {
    float: right;
    text-align: left;
    width: 390px;
}

.text-box-it.right .head-sc5 {
    text-align: left;
}

.text-box-it.right .text-it-sc5 {
    text-align: left;
}

.text-sc5.two {
    margin-top: 150px;
}

.text-pol br {
    display: none;
}

section.screen6 {
    background: url(../img/soch.png);
    background-position: center top;
    margin-top: -67px;
    padding-top: 180px;
    height: 740px;
    border-bottom: 30px solid #9a9a9a;
}

.text-sc6 {
    width: 503px;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 40px;
}

a.zakaz-btn {
    width: 400px;
    margin-top: 55px;
    text-decoration: none;
    line-height: 70px;
    margin-left: 45px;
    outline: none;
    box-shadow: 0px 3px 0px #383431;
    background: #6eaadc;
    font-size: 20px;
    border: 0;
    color: black;
    text-align: center;
    display: block;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    border-radius: 33px;
}

h2.head-sc7 {
    font-size: 29px;
    background: #6eaadc;
    line-height: 1.3;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    text-align: center;
    width: 280px;
    margin: auto;
}

section.screen7 {
    background: url(../img/bg7.jpg);
    background-position: center top;
    padding-top: 60px;
    height: 900px;
    border-bottom: 20px solid #6eaadc;
    border-top: 30px solid #383431;
}

.head-sc7-text {
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
}

.sc7-box {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.text-sc7 {
    font-size: 19px;
    float: left;
    text-transform: uppercase;
    width: 240px;
    text-align: center;
}

.text-sc7:first-child {
    width: 198px;
    margin-right: 25px;
}

.sc7-box.two {
    margin-top: 510px;
}

.sc7-box.two {
    margin: auto;
    margin-top: 500px;
    width: 895px;
}

.sc7-box.two .text-sc7 {
    width: 240px;
    margin-right: 0;
}

section.screen8 {
    background: url(../img/bg2.jpg);
    padding-top: 60px;
    padding-bottom: 70px;
}

.item-sc8 {
    width: 210px;
}

.item-imeg-sc8 {
    line-height: 220px;
    width: 220px;
    text-align: center;
    background-image: url(../img/color-line1.png);
    border-radius: 134px;
    background-repeat: no-repeat;
    bott-line.png cursor: pointer;
}

.item-imeg-sc8:hover {
    background: rgba(255, 128, 39, 0.49);
    background-image: url(../img/color-line.png);
    background-repeat: no-repeat;
}

.bott-line {
    background: url(../img/bott-line.png) no-repeat 1px 113px;
}

.bott-line:hover {
    background: rgba(68, 185, 227, 0.49) url(../img/bott-line-blue.png) no-repeat 1px 113px;
}

.left-line {
    background: url(../img/left-line.png) no-repeat 113px 112px;
}

.left-line:hover {
    background: rgba(229, 89, 53, 0.49) url(../img/left-line-red.png) no-repeat 113px 112px;
}

.right-line {
    background: url(../img/right-line.png) no-repeat 112px 0px;
}


.item-box-sc8 {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.text-item-sc9 {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: "ProximaNovaSemibold";
    margin-top: 10px;
}

a.kons-btn {
    width: 400px;
    text-decoration: none;
    line-height: 70px;
    margin: auto;
    outline: none;
    box-shadow: 0px 2px 0px #000000;
    background: #f7bf2a;
    font-size: 20px;
    border: 0;
    margin-top: 55px;
    color: black;
    text-align: center;
    display: block;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    border-radius: 33px;
}

.text-bott-sc8 {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: "ProximaNovaSemibold";
    margin-top: 25px;
}

section.screen9 {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 17px solid #9a9a9a;
}

button.slick-prev.slick-arrow {
    outline: none;
    position: absolute;
    z-index: 10;
    top: 33%;
    margin-top: -26px;
    background: url(../img/icon_arrow_left.png);
    width: 52px;
    height: 52px;
    border: 0;
    color: rgba(0, 0, 0, 0);
    left: 121px;
}

button.slick-next.slick-arrow {
    outline: none;
    right: 120px;
    position: absolute;
    z-index: 10;
    top: 33%;
    margin-top: -26px;
    width: 52px;
    height: 52px;
    border: 0;
    color: rgba(0, 0, 0, 0);
    background: url(../img/icon_arrow_right.png);
}

.slick-list.draggable {
    width: 850px;
    margin: auto;
}

img.logo-company {
    margin: auto;
}

.slid-text {
    text-align: center;
    display: table;
    margin: auto;
    margin-top: 22px;
    font-size: 20px;
    color: black;
    line-height: 1.2;
}

.autoplay {
    margin-top: 90px;
}

a.go-slide {
    outline: none!important;
    border: 0!important;
    text-decoration: none;
}

.img-slid {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: 0.5s;
}

a.go-slide:hover .img-slid {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: auto;
}

a.go-slide:hover .slid-text {
    border-bottom: 1px solid;
}

section.screen9 .text-prof-teem {
    text-align: center;
}

section.screen10 {
    padding-top: 40px;
    background: url(../img/bg8.jpg);
    padding-bottom: 50px;
    border-bottom: 17px solid #9a9a9a;
}

.item-box-sc10 {
    display: flex;
    justify-content: space-around;
}

.head-sc10 {
    text-align: center;
    margin: 0;
    font-family: "ProximaNovaSemibold";
    font-size: 30px;
    text-transform: uppercase;
}

.img-sc10 {
    background: url(../img/sc10-bg.png);
    background-position: center center;
    width: 285px;
    margin: auto;
    text-align: center;
    height: 285px;
    line-height: 285px;
    margin-top: 10px;
}

.text-sc10 {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 30px;
}

a.zakaz-sc10 {
    width: 410px;
    margin-top: 22px;
    line-height: 70px;
    outline: none;
    box-shadow: 0px 3px 0px #383431;
    background: #f7bf2a;
    font-size: 20px;
    color: black;
    text-decoration: none;
    border: 0;
    text-align: center;
    display: block;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    border-radius: 33px;
}

section.rewq {
    padding-top: 70px;
    padding-bottom: 50px;
    border-bottom: 17px solid #6eaadc;
}

.slick-initialized .slick-slide {
    display: block;
    height: 170px;
}

.img-slid-rew {
    margin: auto;
    width: 204px;
    height: 204px;
    background: url(../img/rew-bg.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rewq .slick-slide,
.rewq .slick-cloned,
.rewq .slick-active {
    border-right: 2px solid #f4f4f4;
    height: auto;
    width: 265px!important;
    outline: none;
}

a.pop-rew {
    padding: 0 15px;
    outline: none;
    text-decoration: none;
    color: black;
    display: table;
}

.rew-title {
    font-family: "ProximaNovaSemibold";
    font-size: 20px;
    margin-top: 60px;
    line-height: 1;
    border-bottom: 2px solid #f7bf2a;
}

.rew-pod {
    font-size: 15px;
    line-height: 1.2;
}

.date {
    text-align: right;
    font-size: 15px;
    color: #cdcdcd;
    margin-top: 20px;
}

.rew-text {
    line-height: 1.2;
    font-size: 15px;
    margin-top: 20px;
}

.weiv-more {
    background: #cdcdcd;
    float: right;
    width: 120px;
    margin-top: 25px;
    padding-left: 4px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    outline: none;
}

.weiv-more img {
    display: inline;
    margin-top: -2px;
}

.rewq .slick-list.draggable {
    width: 1065px;
    margin-top: 55px;
    padding-left: 1px
}

.rewq button.slick-next.slick-arrow {
    opacity: 0.5;
    right: 0;
    height: 171px;
    margin-top: -85px;
    width: 44px;
    background: url(../img/right.jpg);
}

.rewq button.slick-prev.slick-arrow {
    opacity: 0.5;
    left: 0;
    height: 171px;
    margin-top: -85px;
    width: 44px;
    background: url(../img/left.jpg);
}

.rewq button.slick-prev.slick-arrow:hover,
.rewq button.slick-next.slick-arrow:hover {
    opacity: 1;
}

a.zakaz-req {
    width: 410px;
    margin: auto;
    margin-top: 100px;
    line-height: 70px;
    outline: none;
    box-shadow: 0px 3px 0px #383431;
    background: #f7bf2a;
    font-size: 20px;
    color: black;
    text-decoration: none;
    border: 0;
    text-align: center;
    display: block;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    border-radius: 33px;
}

h3.head span {
    background: #f7bf2a;
    padding: 0 5px;
    display: inline;
}

section.screen6.two {
    background-image: url(../img/plan.png);
    margin-top: -72px;
}

.two .text-sc6 {
        width: 526px;
}

.map-box {
    width: 100%;
    height: 700px;
    position: absolute;
    border-bottom: 5px solid;
}

.map-info {
    width: 410px;
    height: 410px;
    background: rgba(56, 52, 49, 0.75);
    border-radius: 232px;
    position: absolute;
}

.map-info {
    margin-top: 150px;
    right: 100px;
    padding: 50px;
    color: white;
    width: 410px;
    height: 410px;
    background: rgba(56, 52, 49, 0.75);
    border-radius: 232px;
    position: absolute;
}

.map-head {
    margin-top: 50px;
    line-height: 1.3;
    font-size: 30px;
    font-family: "ProximaNovaSemibold";
    text-align: center;
}

.map-info-text {
    line-height: 1.3;
    text-align: center;
    font-size: 20px;
    margin-top: 34px;
}

section.bottom-nav {
    background: #f7bf2a;
    margin-top: -8px;
    height: 108px;
    padding-top: 8px;
}

nav.bot ul {
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100px;
    display: flex;
    list-style: none;
    justify-content: center;
}

nav.bot ul li:last-child a {
    border: 0;
}

nav.bot ul li {
    float: left;
    line-height: 100px;
}

nav.bot {
    width: 100%;
}

a.go-to-bot {
    color: #000;
    font-size: 20px;
    padding: 0 15px;
    border-right: 1px solid;
}

footer.boot {
    line-height: 55px;
    background: #6eaadc;
    color: white;
    font-size: 20px;
    text-align: center;
}

.right-form.pop {
    margin: 0;
    float: none;
    border-color: #f7bf2a;
}

a.call-back {
    display: block;
    color: black;
    text-decoration: none;
}

div#pop {
    display: none;
}

.fancybox-opened .fancybox-skin {
    background: rgba(240, 248, 255, 0);
    box-shadow: none;
}

a.fancybox-item.fancybox-close {
    background: url(../img/close_button.png);
    width: 55px;
    height: 55px;
    top: -10px;
    right: -10px;
}

.photo:hover img.photo1,
img.photo2 {
    display: none;
}

.photo:hover img.photo2 {
    display: inline;
}

.prof-teem-box.new {
    display: none;
}

.text,
.text2,
.sc3-box,
item-sc3,
.prof-teem-item,
.item-sc8 {
   /* visibility: hidden;*/
}

input.btn-go:hover,
a.zakaz-btn:hover {
    box-shadow: 1px 2px 2px #383431 inset;
    height: 72px;
    padding-top: 2px;
}

a.kons-btn:hover,
a.zakaz-sc10:hover,
a.zakaz-req:hover {
    box-shadow: 1px 2px 2px #383431 inset;
    height: 70px;
    padding-top: 2px;
}

.big-banner img {
    width: 100%;
}

.electro header.top {
    background: rgba(255, 255, 255, 0.95);
}

.electro nav.menu-top-block ul li a {
    color: black;
}

.electro section.screen1 {
    background-color: #6eaadc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 835px;
    border-bottom: 14px solid #6eaadc;
    background-position: center center;
}

.electro .line-h {
    height: 72px;
    background:#337ab7;
}

.electro .text-box {
    margin-left: 0;
}

.electro .right-form {
    margin-top: 75px;
}

.electro input.btn-go {
    background: #6eaadc;
    color: white;
}

.electro .line-y {
    background: #6eaadc;
}

.text-electro-sc2-left {
    color: white;
    float: left;
    width: 45%;
}

.electro .text-sc3 {
    width: 100%;
    margin-top: 35px;
}

.text-electro-sc2-right {
    margin-top: 23px;
    width: 50%;
    float: right;
    color: white;
    padding-left: 40px;
    background-repeat: no-repeat;
}

.head-sc2-el {
    text-transform: uppercase;
    line-height: 1.3;
    font-size: 20px;
    font-family: "ProximaNovaSemibold";
}

.text-sc2-el {
    font-size: 20px;
    line-height: 1.2;
}

.sc2-el-box:nth-child(2) {
    margin-top: 48px;
}

.sc2-el-box:nth-child(3) {
    margin-top: 20px;
}

.sc2-el-box:nth-child(4) {
    margin-top: 42px;
}

.sc2-el-box:nth-child(5) {
    margin-top: 40px;
}

.sc2-el-box:nth-child(6) {
    margin-top: 41px;
}

.electro .right-form.pop {
    margin: 0;
    float: none;
    border-color: #6eaadc;
}

.electro h3.head span {
    background: #6eaadc;
    color: white;
}

section.sc3-el {
    padding: 50px 0;
    background-image: url(../img/bg2-el2.png);
    height: 1418px;
    background-position: center center;
}

.text2-el {
    font-size: 29px;
    line-height: 1.3;
    margin-top: 50px;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    text-align: right;
}

.text2-el span {
    background: #6eaadc;
    color: white;
    display: inline-block;
    padding: 0 4px;
}

.text2-el span.oran {
    background: none;
    color: #6eaadc;
}

.electro a.fancybox-item.fancybox-close {
    background-image: url(../img/close_button-el.png);
    background-repeat: no-repeat;
}

.snos {
    margin-top: 205px;
}

.sc3-el-box-1 {
    width: 335px;
    float: left;
    margin-top: 115px;
    margin-left: 190px;
    margin-bottom: 20px;
}

.sc3-el-box-2 {
    width: 590px;
    float: right;
    margin-top: 170px;
}

.sc3-el-box-3 {
    float: right;
    width: 490px;
    margin-top: 260px;
    text-align: right;
    margin-right: 190px;
}

.big-box-sc3-el {
    float: left;
    width: 100%;
    display: flex;
    margin-top: 295px;
    justify-content: space-between;
}

.sc3-el-box-4 {
    width: 30%;
}

div#rew-all {
    width: 720px;
    height: 485px;
    display: none;
}

.left-part-rew {
    width: 240px;
    float: left;
    height: 485px;
    background: url(../img/rew-left.jpg);
}

.img-box-rew-all {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    border: 15px solid #6eaadc;
    margin-top: 20px;
}

.img-box-rew-all img {
    border-radius: 1000px;
}

.right-part-rew {
    background: white;
    padding: 20px;
    float: right;
    box-shadow: 1px 2px 6px #8e8984 inset;
    width: 480px;
    border: 30px solid #6eaadc;
}

.head-re-all {
    font-family: "ProximaNovaSemibold";
    font-size: 20px;
    line-height: 1;
    border-bottom: 2px solid #f7bf2a;
}

.date-all {
    text-align: right;
    font-size: 15px;
    color: #cdcdcd;
    margin-top: 15px;
}

.text-all {
    overflow-y: auto;
    height: 279px;
    margin-top: 20px;
}

.in-bg {
    width: 200px;
    text-decoration: none;
    line-height: 35px;
    margin: auto;
    outline: none;
    box-shadow: 0px 2px 0px #ffffff;
    background: #f7bf2a;
    font-size: 20px;
    border: 0;
    margin-top: 35px;
    color: black;
    text-align: center;
    display: block;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    border-radius: 33px;
    cursor: pointer;
}

.file_upload {
    position: relative;
    font-size: 1em;
    /* example */
    height: 2em;
    /* example */
    line-height: 2em/* the same as height */
}

.file_upload input[type=file] {
    opacity: 0;
    display: block;
    width: 100%;
    position: absolute;
    height: 37px;
    cursor: pointer;
}

div#rew-add {
    box-shadow: 0px 0px 10px black;
    width: 720px;
    height: 485px;
    display: none;
}

.text-op-rew {
    color: white;
    line-height: 1.2;
    font-size: 13px;
    margin-top: 97px;
    padding: 20px;
}

input.rew-in {
    outline: none;
    font-size: 20px;
    width: 100%;
    height: 50px;
    padding-left: 40px;
    border: 0;
    margin-top: 20px;
    box-shadow: 0px 0px 4px black, 0px 0px 4px black;
}

textarea.textare-in {
    outline: none;
    font-size: 20px;
    width: 100%;
    padding-top: 9px;
    height: 185px;
    padding-left: 40px;
    border: 0;
    margin-top: 20px;
    box-shadow: 0px 0px 4px black, 0px 0px 4px black;
}

input.btn-rew {
    width: 280px;
    margin-top: 20px;
    line-height: 50px;
    float: right;
    outline: none;
    box-shadow: 0px 3px 0px #ffffff;
    background: #383431;
    font-size: 18px;
    border: 0;
    color: white;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    border-radius: 33px;
}

.right-part-rew.two {
    background: #6eaadc;
    box-shadow: none;
    padding: 0;
}

div#ok {
    display: none;
    background: url(../img/bg-form.png);
    border: 25px solid #6eaadc;
    border-radius: 8px;
    width: 506px;
    background-color: black;
    padding: 35px;
    height: 218px;
}

.img-ok {
    float: left;
}

.text-ok {
    float: right;
    color: white;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
}

.text-ok span {
    font-size: 30px;
}

section.prinz {
    height: 915px;
    background: url(../img/bg3-el.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 45px;
    padding-bottom: 45px;
}

h3.priz-head {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.3;
    font-family: "ProximaNovaSemibold";
    margin: 0;
    text-align: center;
}

.first-chit {
    width: 135px;
    height: 135px;
    text-align: center;
    font-size: 13px;
    background: #6eaadc;
    color: white;
    padding-top: 15px;
    margin-top: 8px;
}

.first-chit span {
    font-size: 25px;
    line-height: 1.2px;
}

span.two-chit {
    font-size: 17px;
    line-height: 1.4;
}

.al.left-text2 {
    width: 630px;
}

.electro section.al.screen5 {
    border-bottom: 14px solid #6eaadc;
    background: url(../img/bg6-el.jpg);
}

.electro .al-pic-two {
    background: url(../img/bl-clip.png);
}

.al.text-box {
    width: 650px;
}

.electro section.al.screen6 {
    background: url(../img/fibra.png) center no-repeat;
    margin-top: -50px;
    margin-left: -115px;
    height: 930px;
    z-index: 10000;
}

.electro .al.right-form {
    border-color: #6eaadc;
}

.electro .al.text-box {
    margin-top: 432px;
    
}
.al.text-box.al-box {
        margin-left: 90px;
}
.sit-al .screen5 .al.line-h.al-h {
    height: 54px;
}
.sc9-el-text h3.head {
    float: right;
    width: 660px;
}

.sc9-el-text .text-sc6 {
    width: 660px;
    float: right;
}

.sc9-el-text {
    display: table;
}

.electro section.al.screen9 {
    background: url(../img/bg7-el.jpg);
    height: auto;
    padding-bottom: 50px;
    border-bottom: 14px solid #6eaadc;
}
.text-item-sc3 {
    width: 170px;
}

.electro section.screen10 {
    border-bottom: 14px solid #6eaadc;
    background-image: url(../img/bg8-el.jpg);
}

.electro a.zakaz-sc10 {
    background: #6eaadc;
    color: white;
}

.electro a.kons-btn {
    background: #6eaadc;
    color: white;
}

h3.teem.two-el {
    color: white;
    text-transform: none;
    font-family: inherit;
}

section.screen8 .text-prof-teem {
    color: white;
    text-align: center;
    margin-top: 0;
}

.electro .item-box-sc8 {
    width: 80%;
    margin: auto;
}

.electro a.zakaz-req {
    background: #6eaadc;
    color: white;
}

.electro .rew-title {
    border-bottom: 2px solid #6eaadc;
}

.electro .img-slid-rew {
    background: url(../img/rew-bg2.png);
}

.electro section.bottom-nav {
    background: #6eaadc;
}

.electro section.screen6.two {
    background-image: url(../img/bg9-el.jpg);
    border: 0;
    height: 733px;
    margin-top: 0;
    padding-top: 95px;
}

.electro a.zakaz-btn {
    background: #6eaadc;
    color: white;
    margin-left: 390px;
    margin-top: 140px;
}

.electro .right-part-rew.two {
    background: #6eaadc;
    border-color: #6eaadc;
}

.electro .in-bg {
    background: #6eaadc;
}

.electro .img-box-rew-all {
    border-color: #6eaadc;
}

.electro .right-part-rew {
    border-color: #6eaadc;
}

.chit1 {
    position: absolute;
    margin-left: 200px;
    margin-top: -95px;
}

.chit2 {
    text-align: center;
    position: absolute;
    margin-top: 25px;
}

.chit3 {
    position: absolute;
    margin-left: 477px;
}

.chit4 {
    position: absolute;
    border: 1px solid;
    padding: 0 5px;
    margin-left: 540px;
    margin-top: -95px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.46);
}

.chit-bott-box {
    margin-top: 283px;
    position: relative;
}

.chit6 {
    position: absolute;
    border: 1px solid;
    padding: 0 5px;
    margin-left: 160px;
    margin-top: 255px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.46);
}

img.tel-big-butt {
    display: none;
}

.chit7 {
    position: absolute;
    margin-left: 893px;
    margin-top: 265px;
}

.chit8 {
    position: absolute;
    margin-left: 1050px;
    margin-top: 265px;
}

.chit9 {
    text-align: center;
    position: absolute;
    margin-top: 170px;
    margin-left: 790px;
}

.chit10 {
    text-align: center;
    position: absolute;
    margin-top: 170px;
    line-height: 1.2;
    margin-left: 941px;
}

.chit11 {
    margin-left: 719px;
    margin-top: 259px;
    position: absolute;
    line-height: 1.2;
}

.chit12 {
    margin-left: 527px;
    margin-top: 226px;
    position: absolute;
    line-height: 1.2;
}

.al.left-text2 br {
    display: none;
}

.menu-top {
    display: none;
}

.electro .gambur {
    border-color: white;
}

.electro .gambur span {
    background: white;
}

.electro .gambur:after {
    background: url(../img/icon_arrow-nav-w.png);
}

br.iz-mybr {
    display: none;
}
.sit-al .al.right-form {
    border-color: #0ba5db;  
}
 /*Мой код для пятой страницы*/
.site_five .al-text-word:nth-child(2) br:nth-child(1) {
        display: none;
    }
    .site_five .al-text-device br:nth-child(3){
        display: none;
    }
    .site_five .al.left-text.al-tex-bl br:nth-child(1){
        display: none;
    }
    .site_five .al.left-text2.text-none{
        display: none;
    }
    .site_five .screen6 h2.left-text br:nth-child(2){
    display: none;
    }
    .site_five .al.text br:nth-child(2){
        display: none;
    }
    .site_five .al.text br:nth-child(5){
        display: none;
    }
    .site_five .al.text2 p br:nth-child(1){
        display: none;
    }
    .site_four .dat-al{
        display: none;
    }
    .site_four .al.left-text2.disp{
        display: none;
    }
    .left-text br:nth-child(3) {
      
    }
    .text2 br{
        display: none;
    }
    .text-bott-sc8 br{
        display: none;
    }
.sit-al .al.left-text span{
    display: inline;
}
 /*Мой код для пятой страницы*/
.klick {
    display: block;
    background: url(../img/icon_arrow-copy.png);
    width: 15px;
    height: 8px;
    margin-top: -15px;
    position: absolute;
    left: 50%;
    margin-left: -36px;
    cursor: pointer;
}
.gambur {
    cursor: pointer;
    width: 46px;
    height: 46px;
    border: 3px solid;
    border-radius: 100px;
    padding-top: 2px;
}
.gambur span {
    width: 65%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    margin-top: 8px;
}
header.top .container:after, header.top .container:before {
    display: none;
}
header.top {
    position: fixed;
    z-index: 1000;
}
.gambur-big {
    display: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 3px solid;
    border-radius: 100px;
    padding-top: 2px;
}
.gambur-big span {
    width: 65%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    margin-top: 6px;
}
.gambur-big:after {
    content: '';
    display: block;
    background: url(../img/icon_arrow-nav.png);
    width: 17px;
    height: 8px;
       margin-top: 12px;
    margin-left: 9px;
}
.fancybox-lock header.top {
    padding-right: 17px;
}
.mark {
    background-color: #6eaadc;
}