*::-webkit-input-placeholder {
    color: #a7a7a7;
    opacity: 1;
}

*:-moz-placeholder {
    color: #a7a7a7;
    opacity: 1;
}

*::-moz-placeholder {
    color: #a7a7a7;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #a7a7a7;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

html.js .loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

html.js .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: "ProximaNovaRegular", sans-serif;
    overflow-x: hidden;
}
.hidden {
    display: none;
}
.al.top{
    background: url(../img/bg9.jpg);
}
.al.line-h {
    background: red;
}
.al.left-text{
    color: #000;
    text-shadow: none;
}
.al.text-box {
    margin-left: 0;
    margin-top: 250px;
}
.al.screen1 {
    background: url(../img/bg10.jpg) center no-repeat;
    background-size: cover;
    border-bottom: 14px solid #cdcdcd;
    height: 849px;
}
.al.left-text2{
    text-shadow: none;
}
.al.btn-go{
    background: red;
    color: red;
}
form.al-form-one{
    background: url(../img/bg-form2.png) center;
}
.al.text-pol{
    text-align: center;
}
.al.screen1 .container{
    padding: 0;
}
.sit-al .container{
    padding: 0;
}
.al.text-sc3{
    width: 584px;
}
.al.text-electro-sc2-right {
    background: url(../img/points2.png);
    background-repeat: no-repeat;
    width: 45%;
    padding-left: 38px;
}
.al.text-electro-sc2-left{
    width: 55%;
}
.al.sc2-el-box:nth-child(2) {
    margin-top: 35px;
}
.al.sc2-el-box:nth-child(3) {
    margin-top: 31px;
}
.al.sc2-el-box:nth-child(4) {
    margin-top: 30px;
}
.al.sc2-el-box:nth-child(5) {
    margin-top: 36px;
}
.al.line-y{
    background: #0ba5db;
}
h3.al .al-blue{
    background: #0ba5db;
    color: #ffffff;
}
.text2-el .al-blue{
    background: #0ba5db;
}
.al.head{
    margin-bottom: 10px;
}
.al.head p {
    margin-bottom: 0px;
    padding-left: 0;
}
.al.head p:nth-child(1) {
    background: url(../img/al-line.png) no-repeat right;
    margin-right: -2px;
}
.al.head p:nth-child(3) {
    text-align: right;
    margin-right: 85px;
}
.al.head p:nth-child(4) {
    text-align: right;
    margin-right: 83px;
}
.al_pad {
    padding-left: 0!important;
    margin-bottom: 308px!important;
}
.al.screen2{
    padding-top: 52px;
    padding-bottom: 67px;
}
.al.sc3-el{
    background-image: url(../img/bg11.jpg);
    height: 1472px;
}
h3.al.head .al-col{
    color: #0ba5db;
    background: none;
}
.al.text2-el {
    margin-right: 72px;
}
.al-block {
    width: 1109px;
    height: 168px;
    background: url(../img/al-block-lin.png);
    margin: auto;
    margin-top: 39px;
}
.al-block p {
    color: #383431;
    font-size: 20px;
    font-family: ProximaNovaRegular, sans-serif;
    line-height: 23px;
    padding: 39px 0px 0px 34px;
    text-align: justify;
    width: 956px;
}
.al-h4-text {
    font-size: 20px;
    color: #0ba5db;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.al-tex_blo {
    font-size: 20px;
    color: #383431;
    line-height: 23px;
}
.al-block-clip {
    font-family: ProximaNovaRegular, sans-serif;
    display: flex;
    justify-content: space-around;
}
.al-tex-hea{
    text-align: right;
    float: left;
    margin-top: 82px;
}
.al-lef{
    text-align: left;
    float: right;
}
.al-left-block-clip{
    float: left;
    display: flex;
    flex-direction: column;
    width: 28.7%;
}
.al-right-block-clip {
    float: right;
    display: flex;
    flex-direction: column;
    width: 28.3%;
}
.al-center {
    text-align: center;
    float: none;
    clear: both;
    padding-top: 31px;
}
.al-cl-twist {
    width: 516px;
    height: 528px;
    background: url(../img/al-cl.png);
    position: relative;
    float: left;
    margin-top: 21px;
}
.al.screen4 {
    border-bottom: 14px solid #0ba5db;
    background: url(../img/fone1.jpg) no-repeat center 111px;
    height: 957px;
    font-family: ProximaNovaRegular, sans-serif;
    font-size: 15px;
    padding-top: 19px;
}
.al-cent-bl{
    text-align: center;
}
.al-vid {
    float: left;
    text-align: center;
    color: #383431;
    background: #0ba5db;
    padding: 17px 8px;
    font-size: 20px;
    line-height: 25px;
}
.al-vid span{
    font-size: 25px;
    font-family: ProximaNovaSemibold, sans-serif;
}
.al-bl-numer {
    float: left;
    text-align: right;
    line-height: 20px;
    margin-left: 152px;
    margin-top: 21px;
}
.al-bl-priv, .al-bl-of{
    color: #383431;
    border: solid 1px #000000;
    padding: 0px 5px;
    float: right;
    box-shadow: 0px 9px 15px -12px #000000;
}
.al-bl-priv {
    margin-top: 46px;
}
.al-vid-cam {
    float: left;
    clear: both;
    text-align: center;
    margin-top: 66px;
    margin-left: 547px;
}
.al-wi-fi, .al-bl-mon{
    text-align: center;
    clear: both;
}
.al-wi-fi {
    float: right;
    margin-top: 257px;
    margin-right: 53px;
}
.al-bl-of {
    float: left;
    clear: both;
    margin-top: 30px;
    margin-left: 36px;
}
.al-bl-mon {
    float: right;
    margin-top: -6px;
    margin-right: 153px;
}
.al-bl-rev {
    float: left;
    text-align: left;
    margin-left: 104px;
    margin-top: 5px;
}
.al-bl-prov {
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-top: 93px;
}
.al-butt-rev{
    clear: both;
}
.al.screen5 {
    background: url(../img/fone2.jpg);
    height: 666px;
    padding-top: 127px;
    border-bottom: 14px solid #cdcdcd;
}
.al-tex-ver {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #ffffff;
    font-size: 38px;
    font-family: proximanovablack, sans-serif;
    position: relative;
    float: right;
    right: 19px;
    top: -161px;
}
.al-num-two {
    color: #ffffff;
    font-size: 223px;
    line-height: 49px;
    font-family: proximanovablack, sans-serif;
    float: left;
    margin-top: 137px;
    margin-left: 84px;
    text-align: center;

}
.al-bl-ye {
    font-size: 59px;
}
.al-pic-two {
    height: 394px;
    width: 394px;
    border-radius: 50%;
    background: url(../img/bl-clip.png) center no-repeat;
    border: 25px solid #b2bfc3;
    float: left;
}
.al-h {
    height: 57px;
    margin-top: 5px;
}
.al-box {
    margin-top: 83px!important;
    float: right;
}
.al-tex-bl{
    font-size: 30px!important;
}
.al.bottom-nav{
    background: red;
}
a.al.go-to-bot{
    color: red;
}
.al.img-slid-rew{
    background:  url(../img/rew-bg2.png);
}
.al.rew-title{
    border-bottom: 2px solid #0ba5db;
}
.al.zakaz-req{
    background: #0ba5db;
    color: red;
}
.al.img-box-rew-all{
    border: 15px solid #0ba5db;
}
.al.right-part-rew{
    border: 30px solid #0ba5db;
}
.al.head-re-all{
    border-bottom: 2px solid #0ba5db;
}
.al.kons-btn{
    background: #0ba5db;
    color: #ffffff;
}
.al-h6, .al-h5{
    color: #ffffff;
    text-align: center;
    font-family: ProximaNovaRegular, sans-serif;
}
.al-h5{
    font-size: 30px;
}
.al-h6{
    font-size: 20px;
}
.al.screen8{
    padding-top: 85px;
    border-top: 20px solid #ffed00;
}
.al.item-box-sc8{
    justify-content: space-around;
}
.al.zakaz-sc10{
    background: #0ba5db;
    color: #ffffff;
}
.al.screen10 {
    background: url(../img/fone3.jpg);
    border-bottom: 20px solid #cdcdcd;
    padding-top: 64px;
}
.al.screen9 .slick-prev.slick-arrow{
    background: url(../img/al-left-arr.png);
}
.al.screen9 .slick-next.slick-arrow{
   background: url(../img/al-right-arr.png); 
}
.al.zakaz-btn{
    background: #0ba5db;
    color: #ffffff;
}
.al.head span{
    background: #0ba5db;
    color: #ffffff;
}
.al.screen6.two {
    background: url(../img/fone4.png) center;
    height: 731px;
    margin-top: -23px;
    border: 0;
}
.al.map {
    margin-top: -1px;
    border-top: 30px solid #383431;
}
.al.cirkl{
    background: url(../img/circl_blue.png);
}
.al.right-form {
    border-color: #0ba5db;
    margin-top: 88px;
}
.al.right-form.pop{
    margin-top: 0;
}
.al.rewq{
    border-bottom: 12px solid #9a9a9a;
}
.al.screen9 {
    border: 0;
    height: 1114px;
    background: url(../img/fone_two.jpg);
}
.al.text-box-ye{
    color: #000000;  
}
.al.text p:nth-child(2){
    text-align: right;

}
.al.text2 p:nth-child(1){
    text-align: right;
}
.al.text2 p:nth-child(2){
    text-align: center;
}
.al.text2 p:nth-child(3){
    text-align: right;
}
.al.text p {
    margin-bottom: -1px;
}
.al.text{
    margin-bottom: 30px;
}
.al.text2 p{
    margin-bottom: -1px;
}
.al.text span{
    background: #0ba5db;
    color: #ffffff;
}
.al.text2 span{
    background: #0ba5db;
    color: #ffffff;
}
span.al-str{
    color: #0ba5db!important;
    background: none!important;
}
.al.screen6 {
    background: url(../img/fone_right.png) center;
    height: 965px;
    margin-top: -157px;
    border-bottom: 20px solid #6c6966;
}
.al-text-lef {
    height: 222px!important;
}
.al.left-text span {
    background: #0ba5db;
    color: #ffffff;
    padding: 0px 4px;
}
.al-rig-for{
    border: 25px solid rgba(230, 230, 230, 0.5)!important;
}
.al.right-part-rew.two{
    background: #0ba5db;
}
.al.in-bg{
    background: #0ba5db;
}
.al-top{
    margin-top: 31px!important;
}
.al-left-hea {
    margin-right: 27px;
}
.al-right-hea{
    margin-left: 27px;
}
.al.text-prof-teem{
    margin-top: 2px;
    margin-bottom: 50px;
}
.al.circkl-box-sc3 {
    margin-top: 40px;
    margin-bottom: 56px;
}
.site_four nav.menu-top ul li a {
    color: #ffffff;
}
.site_four .al.top {
    background: url(../img/bg_tro.png);
}
.site_four .al.sc2-el-box:nth-child(3) {
    margin-top: 23px;
}
.site_four .sc2-el-box:nth-child(7) {
    margin-top: 22px;
}
.site_four .al.text2-el {
    margin-right: 72px;
    margin-bottom: 47px;
}
.site_four .al.line-h {
    background: #e55935;
}
.site_four .al.screen6 .al.btn-go {
    background: #e55935;
    margin-top: 54px;
}
.site_four .al.btn-go {
    background: #e55935;
}
.site_four .al.screen1 {
    background: url(../img/bacg.jpg) center no-repeat;
    background-size: cover;
    border-bottom: 14px solid #cdcdcd;
    height: 849px;
}
.site_four .al.right-form {
    border-color: #e8866d;
}
.site_four .al.left-text2 {
    text-shadow: none;
    width: 675px;
}
.site_four .text-pol {
    text-align: center;
}
.site_four .al-rig-for {
    border: 25px solid rgba(230, 230, 230, 0.8)!important;
}
.site_four .al.line-y {
    background: #e55935;
}
.site_four .al.head span{
    background: #e55935;
}
.site_four .al.text2-el span{
    background: #e55935;
}
.site_four .al-num-two {
    font-size: 169px;
    margin-top: 126px;
    margin-left: 47px;
}
.site_four .al-tex-ver {
    font-size: 31px;
    right: 8px;
    top: -137px;
}
.site_four .al-pic-two {
    background: url(../img/bg-fig.png) center no-repeat;
}
.site_four .al.screen5 {
    background: url(../img/fon1.jpg) center;
}
.site_four .al.left-text2 span{
    color: #e55935;
    font-family: ProximaNovaSemibold, sans-serif;
}
.site_four .al-text-lef {
    height: 107px!important;

}
.site_four .al.screen8 {
    padding-top: 85px;
    border-top: 20px solid #41a62a;
}
.site_four .text-box-ye {
    font-size: 30px;
}
.site_four .al.screen9 .slick-prev.slick-arrow {
    background: url(../img/arr-lef.png);
}
.site_four .al.screen9 .slick-next.slick-arrow {
    
}
.site_four .al.cirkl {
    background: url(../img/fon-bg.png);
}
.site_four .al.screen9 {
    background: url(../img/fon2.jpg);
    border-bottom: 17px solid #41a62a;
}
.site_four .al.zakaz-sc10 {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.screen10 {
    background: url(../img/fon3.jpg);
}
.site_four .al.kons-btn {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.img-slid-rew {
    background: url(../img/clip-bg.png);
}
.site_four .al.rew-title {
    border-bottom: 2px solid #e55935;
}
.site_four .al.zakaz-req {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.right-part-rew {
    border: 30px solid #e55935;
}
.site_four .al.img-box-rew-all {
    border: 15px solid #e55935;
}
.site_four .al.right-part-rew.two {
    background: #e55935;
}
.site_four .al.in-bg {
    background: #e55935;
}
.site_four .al.zakaz-btn {
    background: #e55935;
    color: #ffffff;
}
.site_four .al-hed-four{
    color: #383431; 
    font-family: ProximaNovaRegular, sans-serif;
    font-size: 25px;
}
.site_four .al.bottom-nav {
    background: #e55935;
}
.site_four .al.text span {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.text2 span {
    background: #e55935;
    color: #ffffff;
}
.site_four .al.text .orang {
    color: #e55935;
    background: none;
}
.site_four .al.text-electro-sc2-right {
    background: url(../img/lin-four.png);
    background-repeat: no-repeat;
    width: 65%;
    padding-left: 38px;
}
.site_four .al.text-electro-sc2-left {
    width: 35%;
}
.site_four .al.screen2 .al.head {
    margin-bottom: 10px;
    background: url(../img/lin-one.png) right 15px no-repeat;
}
.site_four .al.sc2-el-box:nth-child(4) {
    margin-top: 24px;
}
.site_four .al.sc2-el-box:nth-child(5) {
    margin-top: 25px;
}
.site_four .sc2-el-box:nth-child(6) {
    margin-top: 26px;
}
.site_four .sc2-el-box:nth-child(7) {
    margin-top: 27px;
}
.site_four .al.screen4 {
    border-bottom: 14px solid #e55935;
    background: url(../img/bg-ohr.jpg) no-repeat center 205px;
    height: 1074px;
    padding-top: 30px;
}
.site_four .al-vid {
    background: #e55935;
    margin-left: 82px;
    margin-top: 47px;
    color: #ffffff;
}
.site_four .al-tex-ohr {
    float: left;
    text-align: center;
    margin-left: 44px;
    margin-top: 43px;
    line-height: 20px;
}
.site_four .tex-ohr {
    float: right;
    margin-right: 126px;
    margin-top: 50px;
}
.site_four .al-bl-prov {
    margin-left: 84px;
    margin-top: 78px;
}
.site_four .al-block-door {
    clear: both;
    float: left;
    text-align: left;
    margin-top: 389px;
    margin-left: 168px;
}
.site_four .al-bl-butts {
    clear: both;
    display: flex;
    margin-left: 167px;
    padding-top: 81px;
}
.site_four .al-bl-tx-butt {
    float: left;
    margin-right: 157px;
}
.site_four .al-anxiety {
    margin-right: 123px!important;
    line-height: 20px;
}
.site_four .al.screen6 {
    background: url(../img/fone-11.png) center;
    height: 916px;
    margin-top: -114px;
    border-bottom: 20px solid #6c6966;
}
.site_four .al.text-box {
    margin-left: 0;
    margin-top: 255px;
}
.site_four .al.screen6 .al.text-box {
    margin-left: 0;
    margin-top: 340px;
}
.site_four .al.screen6.two {
    background: url(../img/bg-fon.png) center;
    height: 776px;
    margin-top: -51px;
    border: 0;
    padding-top: 166px;
    border-bottom: 20px solid #9a9a9a;
}
.site_four .al.screen6 .right-form form {
    background: url(../img/bg-form.png);
    padding: 50px 20px 20px 20px;
}
.site_four .al.map {
    margin-top: -1px;
    border-top: 22px solid #383431;
}
.al.item-box-sc8 {
    justify-content: space-around;
    padding: 0 144px;
}
.site_four .al.item-box-sc8 {
    justify-content: space-around;
    padding: 0 144px;
}
.site_five.al.item-box-sc8 {
    justify-content: space-around;
    padding: 0 144px;
}
.site_four .al.text-sc3 {
    width: 584px;
    margin-top: 13px;
}
.site_four .al-fon-arrow{
    font-family: ProximaNovaRegular, sans-serif;
    font-size: 20px;
}
.site_four h5.al-fon-head {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.site_four .al-fon-head{
    font-family: ProximaNovaSemibold, sans-serif;
}
.site_four .al-fon-text p{
    line-height: 20px;
}
.site_four .al-fon-arrow {
    background: url(../img/arr1.png) no-repeat 170px;
    height: 213px;
}
.site_four .al-fon-text {
    float: left;
    margin-top: 63px;
}
.site_four .al-fon-arrow:nth-child(2) {
    background: url(../img/arr2.png) no-repeat right;
    height: 213px;
    margin-top: -32px;
}
.site_four .al-fon-arrow:nth-child(3) {
    background: url(../img/arr3.png) no-repeat center;
    height: 213px;
    margin-top: -36px;
}
.site_four .al-fon-arrow:nth-child(4) {
    background: url(../img/arr4.png) no-repeat 185px;
    height: 213px;
    margin-top: -33px;
}
.site_four .al-fon-arrow:nth-child(5) {
    background: url(../img/arr5.png) no-repeat right;
    height: 213px;
    margin-top: -36px;
}
.site_four .al-fon-arrow:nth-child(6) {
    background: url(../img/arr6.png) no-repeat 139px;
    height: 213px;
    margin-top: -34px;
}
.site_four .al.sc3-el {
    height: 1501px;
    padding-bottom: 36px;
}
.site_four .al.left-text2 br {
    display: block;
}
.site_five .al.top {
    background: url(../img/bg-pr.png);
}
.site_five .al.screen1 {
    background: url(../img/fone-one.jpg) center no-repeat;
    background-size: cover;
    border-bottom: 14px solid #cdcdcd;
    height: 849px;
}
.site_five .al.btn-go {
    background: #97b515;
}
.site_five .al.screen6 .al.btn-go {
    background: #97b515;
    margin-top: 61px;
    box-shadow: 0px 3px 0px #fff;
}
.site_five .al.circkl-box-sc3 {
    margin-top: 55px;
    margin-bottom: 99px;
}
.site_five .al.text2 p:nth-child(2) {
    text-align: left;
}
.site_five .al.text2 p:nth-child(1) {
    text-align: right;
    margin-bottom: 5px;
}
.site_five .al.screen6 .al.btn-go:hover {
    background: #97b515;
  
    box-shadow: 0px 2px 0px #fff inset;
}
.site_five .al.screen6 .right-form form {
    background: url(../img/bg-form.png);
    padding: 50px 20px 20px 20px;
}
.site_five .al.screen1 .al.line-h {
    background: #97b515;
    height: 106px!important;
}
.site_five .al.screen9 {
    border-bottom: 17px solid #97b515;
    height: 1094px;
    background: url(../img/bg-fon5.jpg) center;
}
.site_five .al.left-text2 br {
    display: block;
}
.site_five .al.line-y {
    background: #97b515;
    height: 90%;
    top: 5%;
}
.site_five .al.head {
    clear: both;
}
.site_five .al.head span{
    background: #97b515;
    color: #000000;
}
.site_five .al-pic-two {
    background: url(../img/clip-fon.png) center no-repeat;
}
.site_five .al.left-text2 {
    width: auto;
}
.site_five .al.right-form {
    border-color: #a5bd4c;
}
.site_five .al.screen6 .al.right-form {
    border-color: #a5bd4c;
    margin-top: 88px;
}
.site_five .al.left-text span {
    background: #97b515;
    padding: 0px 0px;
}
.site_five .al.text span {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.text2 span {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.screen9 .slick-prev.slick-arrow {
    background: url(../img/arrow_left.png);
}
.site_five .al.screen9 .slick-next.slick-arrow {
    background: url(../img/arrow_right.png);
}
.site_five .al.cirkl {
    background: url(../img/circl_lime.png);
}
.site_five .al.zakaz-sc10 {
    background: #97b515;
    margin-top: 42px;
    color: #fff;
}
.site_five .al-bott-coment {
    font-size: 20px;
    font-family: ProximaNovaRegular, sans-serif;
    margin-top: 49px;
    line-height: 20px;
}
.site_five .al-h6 {
    font-size: 20px;
    margin-bottom: 76px;
}
.site_five h6.al-h6 span{
    font-size: 30px;
}
.site_five .al.screen8 {
    padding-top: 59px;
    border-top: 20px solid #f29400;
    padding-bottom: 48px;
}
.site_five .text-bott-sc8 {
    margin-top: 35px;
}
.site_five .al.kons-btn {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.img-slid-rew{
    background:  url(../img/fon-salat.png);
}
.site_five .al.rew-title {
    border-bottom: 2px solid #97b515;
}
.site_five .al.zakaz-req {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.right-part-rew.two {
    background: #97b515;
}
.site_five .al.right-part-rew {
    border: 30px solid #97b515;
}
.site_five .al.img-box-rew-all {
    border: 15px solid #97b515;
}
.site_five .al.in-bg {
    background: #97b515;
}
.site_five .al.zakaz-btn {
    background: #97b515;
    color: #ffffff;
}
.site_five .al.bottom-nav {
    background: #97b515;
}
.site_five .al.text-electro-sc2-right {
    
    background-repeat: no-repeat;
    width: 54%;
    margin-top: 0;
}
.site_five .al.text-electro-sc2-left {
    width: 46%;
}
.site_five .al.sc2-el-box:nth-child(2) {
    margin-top: 30px;
}
.site_five .al.sc2-el-box:nth-child(3) {
    margin-top: 22px;
}
.site_five .al.sc2-el-box:nth-child(4) {
    margin-top: 24px;
}
.site_five .al.sc2-el-box:nth-child(5) {
    margin-top: 24px;
}
.site_five .sc2-el-box:nth-child(6) {
    margin-top: 22px;
}
.site_five .sc2-el-box:nth-child(7) {
    margin-top: 24px;
}
.site_five .al.screen2 {
    padding-top: 79px;
    padding-bottom: 70px;
}
.site_five .al.text-sc3 {
    margin-bottom: 167px;
}
.site_five .al.screen2 h3.al.head {
    background: url(../img/line-file.png) no-repeat center right;
}
.site_five .al.text3-el {
    font-size: 29px;
    line-height: 1.3;
    margin-top: 50px;
    font-family: "ProximaNovaSemibold";
    text-transform: uppercase;
    text-align: center;
}
.site_five .al.text2-el span {
    background: #97b515;
    color: #000000;
}
.site_five .al.text3-el span {
    background: #97b515;
    color: #000000;
}
.site_five .al.sc3-el {
    background: url(../img/bg-fon3.jpg) center;
    height: 1440px;
}
.site_five .al.text2-el {
    margin-top: 21px;
}
.site_five .al.text3-el {
    margin-top: 21px;
}
.site_five  .al-h4-text {
    color: #97b515;
}
.site_five .al-top {
    margin-top: 139px!important;
}
.site_five .al-left-block-clip {
    float: left;
    display: block;
    width: 41.7%;
    clear: both;
}
.site_five .al-left-hea {
    margin-right: 27px;
    margin-top: 140px;
}
.site_five .al-lef-bl {
    text-align: left;
    margin-left: 154px;
    margin-top: 98px;
}
.site_five .al-right-block-clip {
    float: right;
    display: block;
    width: 57.3%;
}
.site_five .al-lef {
    margin-top: 82px;
}
.site_five .al-center {
    text-align: left;
    float: right;
    clear: both;
    margin-top: 20px;
    margin-right: 215px;
    padding: 0;
}
.site_five .al.screen4 {
    border-bottom: none;
    background: url(../img/fone-shem.jpg) no-repeat center 160px;
    height: 1093px;
    padding-top: 32px;
}
.site_five .al-vid {
    background: #97b515;
    padding: 15px 6px;
    margin-top: 36px;
}
.site_five .al.screen6 .al.text-box {
    margin-top: 385px;
}
.site_five .al.screen6 .al.line-h {
    background: #97b515;
    height: 69px!important;
}
.site_five .al.line-h {
    background: #97b515;
}
.site_five .al-text-serv{
    float: right;
}
.site_fiv .al-tex-ohr {
    float: left;
    margin-top: 173px;
    margin-left: 140px;
}
.site_five .al-text-serv {
    float: right;
    margin-right: 219px;
    margin-top: 159px;
}
.site_five .al-text-site {
    text-align: left;
    float: left;
    clear: both;
    margin-left: 84px;
    margin-top: 40px;
    line-height: 20px;
}
.site_five .al-tex-ohr {
    float: left;
    margin-top: 174px;
    margin-left: 139px;
}
.site_five .al-text-cont {
    float: right;
    margin-top: 178px;
}
.site_five .al-tex-lef {
    float: left;
    clear: both;
    margin-top: 348px;
}
.site_five .al-text-word {
    margin-bottom: 40px;
    margin-left: 75px;
    line-height: 19px;
}
.site_five .al-tex-right{
    float: right;
}
.site_five .al-text-device {
    text-align: center;
    float: left;
    margin-top: 432px;
    line-height: 20px;
}
.site_five .al-text-vide {
    float: right;
    margin-top: 490px;
    margin-right: 42px;
    margin-left: 99px;
}
.site_five .al.screen5 {
    background: url(../img/fon-bg.jpg);
    height: 660px;
    padding-top: 127px;
    border-bottom: 14px solid #97b515;
}
.site_five .al.screen6 {
    background: url(../img/fon-bg2.png) center;
    height: 934px;
    margin-top: -133px;
    border-bottom: 20px solid #6c6966;
}
.site_five .al.text-box {
    margin-top: 253px;
}
.site_five .al.screen6.two {
    background: url(../img/fon-bg3.png) center;
    height: 1254px;
    margin-top: -136px;
    border-bottom: none;
    padding-top: 208px;
}
.site_five .al.map {
    margin-top: -426px;
    border-top: 20px solid #9a9a9a;
}
.site_five .al.screen10 {
    background: url(../img/fon-bg4.jpg);
    border-bottom: 20px solid #cdcdcd;
    padding-top: 53px;
    padding-bottom: 39px;
}
.site_five .al.text-prof-teem {
    margin-top: 2px;
    margin-bottom: 42px;
}
.sit-al a.fancybox-item.fancybox-close {
    background: url(../img/blue-holder.png) no-repeat;
    width: 55px;
    height: 55px;
    top: -10px;
    right: -10px;
}
.site_five a.fancybox-item.fancybox-close {
    background: url(../img/green-cr.png) no-repeat;
    width: 55px;
    height: 55px;
    top: -10px;
    right: -10px;
}
.site_four a.fancybox-item.fancybox-close {
    background: url(../img/red-symbol.png) no-repeat;
    width: 55px;
    height: 55px;
    top: -10px;
    right: -10px;
}
